{% extends "polls/base.html" %}
{% block title %}Details{% endblock %}
{% block content %}
<h1>{{ question.question_text }}</h1>
{% if error_message %}<b>{{ error_message }}</b>{% endif %}
<form action="{% url 'polls:vote' question.id %}" method="POST">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
    <input type="radio" id="choice{{forloop.counter}}" value="{{ choice.id }}" name="choice">
    <lable for="choice{{forloop.counter}}">{{ choice.choice_text }}</lable><br>
    {% endfor %}
    <input type="submit" class="btn btn-success" value="Vote"><br>
</form>
<a href="{% url 'polls:index' %}"><- Click to go back</a>
{% endblock %}